PyMongoDB

In [1]:
from pymongo import MongoClient

# MongoDB 인스턴스에 연결
client = MongoClient('mongodb://localhost:27017/')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [ ]:
# username / password

client = MongoClient('mongodb://username:password@localhost:27017/')

In [2]:
# 데이터베이스 선택 (없으면 자동 생성)
db = client['example_db']
db # => use example_db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'example_db')

In [3]:
# 콜렉션 선택 (없으면 자동 생성)
collection = db['example_collection']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'example_db'), 'example_collection')

In [10]:
# CRUD
# 새 문서 삽입
example_document = {"name" : "John", "age":30, "city":"New York"}
collection.insert_one(example_document)

InsertOneResult(ObjectId('679252964daeb6e5a3f629c7'), acknowledged=True)

In [11]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

{'_id': ObjectId('6792528c4daeb6e5a3f629c4'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('679252944daeb6e5a3f629c5'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('679252954daeb6e5a3f629c6'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('679252964daeb6e5a3f629c7'), 'name': 'John', 'age': 30, 'city': 'New York'}

In [12]:
# 조건에 맞는 문서 조회
query = {"name" : "John"}

for doc in collection.find(query):
    print(doc)

{'_id': ObjectId('6792528c4daeb6e5a3f629c4'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('679252944daeb6e5a3f629c5'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('679252954daeb6e5a3f629c6'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('679252964daeb6e5a3f629c7'), 'name': 'John', 'age': 30, 'city': 'New York'}

In [16]:
# 하나의 문서 업데이트
collection.update_one({"name":"John"}, {"$set": {"age":31}})

# 여러개의 문서 업데이트
collection.update_many({"name":"John"}, {"$set": {"age":32}})

for data in collection.find(query):
    print(data)

{'_id': ObjectId('6792528c4daeb6e5a3f629c4'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('679252944daeb6e5a3f629c5'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('679252954daeb6e5a3f629c6'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('679252964daeb6e5a3f629c7'), 'name': 'John', 'age': 32, 'city': 'New York'}

In [18]:
# 하나의 문서 삭제
collection.delete_one({"name":"John"})

for data in collection.find(query):
    print(data)

{'_id': ObjectId('679252954daeb6e5a3f629c6'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('679252964daeb6e5a3f629c7'), 'name': 'John', 'age': 32, 'city': 'New York'}

In [19]:
# 여러개의 문서 삭제
collection.delete_many({"name":"John"})

for data in collection.find(query):
    print(data)

In [20]:
# 콜렉션 삭제
db.drop_collection("example_collection")

{'nIndexesWas': 1, 'ns': 'example_db.example_collection', 'ok': 1.0}

In [21]:
# 데이터베이스 삭제
client.drop_database("example_db")